*{
	font-family: sans-serif;
    color:black;
}

body{
    margin: 0px 80px 0px 80px;
    padding: 0;
    background: url(img/PaddyField.jpg) no-repeat;
    background-size: cover;
    
}

.nav>ul{
    margin:0px;
    padding:0px;
    list-style: none;
    margin: auto;
}

.nav ul li, .nav ul li ul li{
    float:left;
    width: 150px;
    padding: 8px;
    background-color: green;
    line-height: 40px;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.nav ul li a,  .nav ul li ul li a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
    display: block;
}

.nav ul li ul li{
    display: none;
}

.nav ul li a:hover, .nav ul li a:hover ul li{
    background-color: lightblue;
    display: block;
}

.box{
    float:left;
    width: 48%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    text-align: center;
    margin: 50px 20% 0px;
}

button{
    top: 50%;
    background-color: #ffffff;
    color: black;
    display: block;
    margin:auto;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 16px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color: white;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 0;
    color: white;
    text-align: center;
}

footer li{
    list-style: none;
}



