*{
	font-family: sans-serif;
    color:black;
}

body{
    margin: 0px 80px 0px 80px;
    padding: 0px 300px 0px ;
    background: url(img/PaddyField.jpg) no-repeat;
    background-size: cover;
    
}

.nav>ul{
    margin:0px;
    padding:0px;
    list-style: none;
    margin: auto;
}

.nav ul li{
    float:left;
    width: 150px;
    background-color: green;
    line-height: 40px;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.nav ul li.dropdown{
	display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f99999;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav ul li a,  .nav ul li ul li a, .nav ul li{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

.nav ul li ul li{
    display: none;
}

.nav ul li a:hover, .dropdownbtn a:hover .dropdown-content{
    background-color: lightgreen;
}

.dropdown-content a:hover {background-color: #f99999}

.dropdown:hover .dropdown-content {
    display: block;
}


.box{
    float:left;
    width: 48%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    text-align: center;
    margin: 50px 20% 0px;
}

.box a {
	text-decoration: none;
}

button{
    top: 50%;
    background-color: #ffffff;
    color: black;
    display: block;
    margin:auto;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 16px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color: white;
}

a:hover {
	color: green;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    color: white;
    text-align: center;
}


footer li{
    list-style: none;
}




